{% extends "base.html.twig" %}

{% block title %}
    {{ ad.title }}
{% endblock %}

{% block body %}
    <div class="ad-title" style="background-image:url({{ ad.coverImage }})">
        <div class="container">
            <h1>{{ ad.title }}</h1>
            <p>{{ ad.introduction }}</p>
            <p class="h2">
                <strong>{{ ad.rooms }}
                    chambres</strong>
                pour
                <strong>{{ ad.price }}&euro;</strong>
                par nuit
            </p>
            <a class="btn btn-primary" href="#">Réserver</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-3">
                {{ ad.content | raw }}
                <div class="carousel slide" data-ride="carousel" id="carouselExampleIndicators">
                    <ol class="carousel-indicators">
                        {% for image in ad.images %}
                            <li {% if loop.first %} class="active" {% endif %} data-slide-to="{{ loop.index0 }}" data-target="#carouselExampleIndicators"></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for image in ad.images %}
                            <div class="carousel-item {% if loop.first %} active{% endif %}">
                                <img alt="..." class="d-block w-100" src="{{ image.url }}">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{ ad.title }}</h5>
                                    <p>{{ image.caption }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button">
                        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button">
                        <span aria-hidden="true" class="carousel-control-next-icon"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4">
                        <img alt="Avatar utilisateur" src="http://placehold.it/64x64">
                    </div>
                    <div class="col">
                        <h3>Nom utilisateur</h3>
                        <span class="badge badge-primary">x annonces</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae enim aperiam commodi eius non accusantium molestias amet ratione veniam molestiae.</p>
                    <p>Sequi suscipit nostrum vero labore, iusto reiciendis facere eum, dolorum modi corporis tempora velit at nobis dolor dolores odit incidunt!</p>
                    <p>Quis excepturi cumque illum expedita numquam sunt labore obcaecati non voluptates, eius quidem iure eaque aspernatur ducimus commodi repudiandae maxime.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
